<div class="sidebar">
  <div class="date">
    <h3 class="date-title">Date</h3>
    <div class="date-list">
      <div class="date-list-item">
        <h4 class="sidebar-title">2010</h4>
        <p class="sidebar-body"></p>
      </div>
      <div class="date-list-item">
        <h4 class="sidebar-title">2000</h4>
        <p class="sidebar-body"></p>
      </div>
    </div>
  </div>
  <div class="profile">
    <h3 class="profile-title">Profile</h3>
    <div class="profile-body">
      <p class="sidebar-body"></p>
    </div>
  </div>
  <div class="explore">
    <h3 class="explore-title">Explore</h3>
    <div class="explore-body">
      <ul class="explore-text">Product Tours</ul>
      <ul class="explore-text">Books & Guides</ul>
      <ul class="explore-text">Customer Data Platform</ul>
    </div>
  </div>
  <div class="sns">
    <h3 class="sns-title">SNS</h3>
    <p class="sns-text">FOLLOW ME</p>
    <div class="sns-icons">
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-snapchat-square"></i>
    </div>
  </div>
</div>
