<body class="top-body">
  <div class="top-main">
      <h1 class="top-title">Telescope</h1>

      <div class="top-title-container">
        <%= link_to "Sign up",new_user_registration_path,class:"top-enter" %>
        <%= link_to "Log in",new_user_session_path,class:"top-enter" %>
      </div>
  </div>
  <footer></footer>
</body>



