/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-list {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.nav-title {
  font-size: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.fas {
  text-decoration: none;
}



footer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: rgb(26, 25, 25);
}

body {
  margin: 0;
}

.fab {
  margin: auto;
  font-size: 30px;
  letter-spacing: 10px;
  text-decoration: none;
}

.fa-book {
  color: white;
  font-size: 20px;
}

.fa-plus {
  color: white;
  font-size: 20px;
}

.fa-sign-out-alt {
  color: white;
  font-size: 20px;
}